@import "./breakpoints";
#details{
    width: 100%;
    height: 120vh;
    font-family: 'Noto Sans', sans-serif;
    padding: 100px 100px 0 100px;
    position: relative;
    background-color: var(--secondary-color);
    .gradient{
      position: absolute;
      top:10%;
      left: 10%;
      width: 800px;
      height:800px;
      border-radius: 50% 22% 40% 80%;
      filter: blur(100px);
      background: radial-gradient(circle at 50% 50%,blue,white);
      opacity: 0.15;
      z-index: 1;
  }
  .gradient2{
    position: absolute;
    bottom:10%;
    right: -10%;
    width: 800px;
    height:800px;
    border-radius: 50% 22% 40% 80%;
    filter: blur(100px);
    background: radial-gradient(circle at 50% 50%,blue,white);
    opacity: 0.15;
    z-index: 1;
}
    // cubes 
    .cube7,.cube8,.cube9{
        width: 50px;
        position: absolute;
    }
    .cube7{
        top: 200px;
        right: 250px;
        animation:float 2s ease-in-out infinite;
        @include breakpoint(660px){
          right: 200px;
          top: 250px;
        }
    }
    .cube8{
        bottom: 200px;
        right: 550px;
        animation:float 2s ease-in-out infinite;
        @include breakpoint(660px){
          right: 300px;
          bottom: 250px;
        }
    }
    .cube9{
        top:200px;
        left: 250px;
        animation:float 2s ease-in-out infinite;
        @include breakpoint(660px){
          left: 100px;
          top: 250px;
        }
    }
        .details-heading{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom:100px ;
        h1{
            font-size: 3.5rem;
            color: var(--primary-color);
            @include breakpoint(660px){
              font-size: 2.5rem;
            }
        }
    }
    ul {
      z-index: 2;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        display:flex;
        margin:0;
        padding:0;
    }
      
      ul li {
        list-style:none;
        margin:0 80px;
        @include breakpoint(660px){
          margin: 0 20px;
        }
        @include breakpoint(660px){
          margin: 0 10px;
        }
      }
      
      ul li a img {
        font-size: 40px;
        color: #262626;
        line-height:80px;
        transition: .5s;
        position: absolute;
        right: 10%;
        top:30%;
      }
      
      ul li a span {
        padding:0;
        margin:0;
        position:absolute;
        top: 30px;
        color: #262626;
        letter-spacing: 4px;
        transition: .5s;
      }
      
      ul li a {
        text-decoration: none;
        display:absolute;
        display:block;
        width:160px;
        height:80px;
        background: #fff;
        text-align:left;
        padding-left: 20px;
        transform: rotate(-30deg) skew(25deg) translate(0,0);
        transition:.5s;
        box-shadow: -20px 20px 10px rgba(0,0,0,.5);
      }
      ul li a:before {
        content: '';
        position: absolute;
        top:10px;
        left:-20px;
        height:100%;
        width:20px;
        background: #b1b1b1;
        transform: .5s;
        transform: rotate(0deg) skewY(-45deg);
      }
      ul li a:after {
        content: '';
        position: absolute;
        bottom:-20px;
        left:-10px;
        height:20px;
        width:100%;
        background: #b1b1b1;
        transform: .5s;
        transform: rotate(0deg) skewX(-45deg);
      }
      
      ul li a:hover {
        transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
        box-shadow: -50px 50px 50px rgba(0,0,0,.5);
      }
      
      ul li:hover img {
        fill: white;
      }
      
      ul li:hover span {
        color:#fff;
      }
      
      ul li:hover:nth-child(1) a{
        background: #3063cf;
      }
      ul li:hover:nth-child(1) a:before{
        background:  #193b83;
      }
      ul li:hover:nth-child(1) a:after{
        background: #2e5dbb;
      }
      
      ul li:hover:nth-child(2) a{
        background: #00aced;
      }
      ul li:hover:nth-child(2) a:before{
        background: #023a7a;
      }
      ul li:hover:nth-child(2) a:after{
        background: #53b9e0;
      }
    }