@import "./breakpoints";
#perks{
    width: 100%;
    height:120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin: -80px 0 -60px 0;
    background-color:transparent;
    .bg-blue {
        height: 100%;
        width: 100%;
        background: linear-gradient(110deg, var(--secondary-color) 0%, var(--secondary-color) 35%, var(--tertiary-color) 100%);
        transform: skewY(5deg);
        z-index: -3;
        position: absolute;
      }
    //   cubes 
    .cube7,.cube8,.cube9{
        width: 50px;
        position: absolute;
    }
    .cube7{
        bottom: 350px;
        left: 50px;
        animation:float 2s ease-in-out infinite;
        @include breakpoint(1050px){
            bottom: 500px;
            left: 100px;
        }
    }
    .cube8{
        bottom: 100px;
        left: 200px;
        animation:float 2s ease-in-out infinite;
        @include breakpoint(1050px){
            bottom: 200px;
            left: 100px;
        }
    }
    .cube9{
        top:130px;
        left: 450px;
        animation:float 2s ease-in-out infinite;
        @include breakpoint(1050px){
            top: 130px;
            left: 550px;
        }
        @include breakpoint(620px){
            left: 450px;
        }
        @include breakpoint(510px){
            left: 350px;
        }
    }
    .perks-content{
        width: 100%;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint(1050px){
          flex-direction: column;
        }
        .perks-left{
            width: 50%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                height: 60%;
                width:60%;
                @include breakpoint(1050px){
                    height: 300px;
                    width: 300px;
                }
                @include breakpoint(650px){
                    height: 200px;
                    width: 200px;
                }
            }
        }
        .perks-right{
            width: 50%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-left: 20px;
            padding-right: 50px;
            h1{
                font-family: 'Noto Sans', sans-serif;
                font-size: 3.5rem;
                color: rgb(26, 24, 24);
                padding-bottom: 15px;
                color: var(--primary-color);
                @include breakpoint(1050px){
                    font-size: 2.5rem;
                }
            }
            ul{
                padding-left: 15px;
                max-width: 600px;
                li{
                    font-family: 'Noto Sans', sans-serif;
                   line-height: 27px;
                   color: var(--primary-color);
                   @include breakpoint(1050px){
                    line-height: 18px;
                    font-size: 0.8rem;
                    max-width: 100%;
                }
                }
            }
        }
    }
}