#team{
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
    z-index: 0;
    position: relative;
    background-color: var(--secondary-color);

    // linear gradient 
    .gradient{
        position: absolute;
        top:-15%;
        left: 35%;
        width: 400px;
        height:400px;
        border-radius: 50% 22% 40% 80%;
        filter: blur(100px);
        background: radial-gradient(circle at 50% 50%,blue,white);
        opacity: 0.1;
        z-index: -10;
    }
    h1{
        padding-top: 100px;
        font-size: 3.5rem;
        padding-bottom:70px;
        color: var(--primary-color);
        @include breakpoint(900px){
             font-size: 2.5rem;
        }
    }

    // swiper js styling 
    .swiper-slide:hover{
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 22px !important;
    }
    .swiper-slide {
        background-color: var(--brown-color);
        padding: 1rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .top {
          text-align: left;
          img {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: -30px;
            @include breakpoint(900px){
              left: 230px;
              top: 170px;
            }
          }
          a {
            text-decoration: none;
            color: var(--primary-color);
            position: relative;
            span {
                margin: 5px 0 15px 0;
              font-size: 0.8rem;
              color: #3396ff;
              display: block;
            }
          }
        }
        .bottom {
          p {
            text-align: left;
            font-size: 0.8rem;
            color: var(--primary-color);
          }
        }
      }
}